

/* Estilos para telas ≥ 768px */
@media (min-width: 768px) and (max-width: 1024px) {   

    .titulo-do-site {
        font-size: 25px;
    }

    .mixed-ticker-container {
        top: 40px;
    }

    main {
        width: 90%;
        height: 80%;
        padding-top: 20px;
    }

    label {
        font-size: 15px;
    }

    select, input {
        height: 30px;
        font-size: 20px;
        margin-bottom: 5px;
    }    

    button {
        height: 40px;
    }

    input {
        width: 95%;
    }

    section {
        height: 60%;
    }

    .seta-baixo {
        width: 60px;
        right: 45%;
        top: 20%;
    }

    .currency {
        font-size: 30px;
    }

    .currency-box {
        margin: 5%;
        width: 25%; 
        gap: 20px;       
    }

    .currency-value, .currency-value-to-convert {
        font-size: 30px;
    }

    img {
        width: 70px;
    }

    #currency-box-1 {
        position: absolute;
        top: 0%;
    }

    #currency-box-2 {
        top: 0%;
    }
    
}
/* Estilos para telas ≥ 768px */
@media (min-width: 481px) and (max-width: 767px) {   

    .titulo-do-site {
        font-size: 15px;
    }

    main {
        width: 70%;
    }

    input {
        width: 95%;
    }

    .seta-baixo {
        width: 45px;
        right: 42%;
        top: 20%;
    }

    .currency-box {
        margin: 5%;
        width: 25%;        
    }
    
}

/* Estilos para telas ≥ 480px */
@media (min-width: 300px) and (max-width: 480px) {   

    .titulo-do-site {
        font-size: 15px;
    }

    main {
        width: 70%;
    }

    input {
        width: 95%;
    }

    img {
        width: 40px;
    }

    section { 
        height: 50%;
    }

    .seta-baixo {
        transform: rotate(360deg);
        width: 35px;
        right: 42%;
        top: 33%;
    }

    .currency-box {
        margin: 5%;
        width: 35%;
        gap: 3px;       
    }

    #currency-box-1 {
        position: absolute;
        left: 28%;
        top: -2%;
    }

    #currency-box-2 {
        right: 27%;
        top: 60%;
    }
    
}

/* Estilos para telas ≥ 768px */
@media (min-width: 200px) and (max-width: 299px) {   

    .titulo-do-site {
        font-size: 12px;
    }

    main {
        width: 70%;
    }

    input {
        width: 95%;
    }

    img {
        width: 40px;
    }

    section { 
        height: 50%;
    }

    .seta-baixo {
        transform: rotate(360deg);
        width: 35px;
        right: 42%;
        top: 33%;
    }

    .currency-box {
        margin: 5%;
        width: 35%;
        gap: 3px;       
    }

    #currency-box-1 {
        position: absolute;
        left: 28%;
        top: -2%;
    }

    #currency-box-2 {
        right: 27%;
        top: 60%;
    }
    
}